@font-face {
    font-family: Cuprum; /* Гарнитура шрифта */
    src: url(../fonts/Cuprum-Bold.ttf); /* Путь к файлу со шрифтом */
}
body {
    background: url(../images/fon.png) no-repeat; /* Цвет фона и путь к файлу */
    color: #fff; /* Цвет текста */
    width: 99%;
     -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: auto;
	font-family: Cuprum;
	width: 100%;
	margin: 0;
   }
/* --------шапка--------- */  
button.bluebutton {
	color: white;
	width: 201px;
	font-size: 18px;
	padding: 8px;
	margin: 0 auto;
	font-family: Cuprum;
	text-decoration: none;
	border-radius: 15px;
	background: #3a53cf;
	transition: 0.2s;
}
button.bluebutton:hover { 
	background: rgb(53, 72, 167); 
	cursor:pointer;
}
button.bluebutton:active {
  background: #3a53cf;
}
button.bluebutton a {
	color: white;
	text-decoration: none;
  	text-align: center;
}
div.bluebutton {
  color: white;
  width: 201px;
  font-size: 18px;
  padding: 8px;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 15px;
  background: #3a53cf;
  transition: 0.2s;
} 
div.bluebutton:hover { 
	background: rgb(53, 72, 167); 
	cursor:pointer;
}
div.bluebutton:active {
  background: #3a53cf;
}
div.bluebutton a {
	color: white;
	text-decoration: none;
  	text-align: center;
}
div.container {
	z-index: 100;
	width: 100%;
	background-color: rgb(88,102,111);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 20px;	
}
.minilogo {
	height: 29px;
	text-align: center;
	padding-top: 4px;
}
.phone {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}
.company {
	float: left;
	text-align: center;
	margin-left: 10px;
}
.testblog{
	display: block;
    max-width: 100%;
    max-height: 100%;
}
/* --------меню--------- */
.menu {
	z-index: 100;
	display: block;
    width: 100%;
    left: 0;
    right: 0;
}
.menufixed {
	z-index: 100;
	display: block;
    width: 100%;
    left: 0;
    right: 0;
	position: fixed;
	top: 46px;
}
.menu ul {
	width: 100%;
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	overflow: hidden;
}
.menufixed ul {
	width: 100%;
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	overflow: hidden;
}
.menu li {
    float: left;
    width: 20%;
}
.menufixed li {
    float: left;
    width: 20%;
}
.menu a {
  border-radius: 0 0 15px 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  padding: 0.5em 0;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  font-family: Cuprum; 
}
.menu a:hover {
  color: yellow;
}
.menufixed a {
  border-radius: 0 0 15px 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  padding: 0.5em 0;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  font-family: Cuprum; 
}
.menufixed a:hover {
  color: yellow;
}
/* --------что такое мультостудия--------- */
#container1 {
	padding-top: 26%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding-bottom: 20%;
}
.podcontainer1 {
	margin: 0 auto;
	width: 85%;
}
.headerBlog {
	padding-top: 7%;
    padding-bottom: 4%;
	font-size: 45px;
}
#blogInfo {
	border-radius: 15px;
	background-color: white;
	height: 485px;
	width: 35%;
	float: left;
	margin-left: 10px;
	color: #534741;
	text-align: left;
}
#blogInfo li {
	list-style: none;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    background: url(../images/monkey.png) no-repeat 0 20px;
    padding-left: 41px;
    font-size: 18px;
}
#makaka {
	width: 28%;
	float: left;
}
#makaka img {
	padding-left: 5px;
}
#formasvazi {
	border-radius: 15px;
	background-color: white;
	color:#534741; 
	width: 35%;
	height: 485px;
	float: left;
}
#formasvazi .bigText {
	font-size:28px;
	padding: 8%;
}
#formasvazi .minitext {
	font-size: 13px;
    padding: 16%;
}
#formasvazi ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#formasvazi li{
	padding:12px;
	position:relative;
}
/* --------чему научиться ребенок--------- */
#container2 {
	margin: 0 auto;
	width: 85%;
	text-align: center;
	color: white;
}
div.podcon2 {
	padding-top: 300px;
}
h1.podcon3 {
	padding-top: 30px;
}
div.podcon4 {
	margin-top: -80px;
}
.zanatia {
	display: block;
    width: 100%;
}
.zanatia ul {
	width: 100%;
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	overflow: hidden;
}
.zanatia li {
    float: left;
    width: 25%;
    font-size: 18px;
}
.zanatia a {
  border-radius: 0 0 15px 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  padding: 0.5em 0;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  font-family: Cuprum; 
}
.zanatia img {
	border-radius: 100px; /* Радиус скругления */
    border: 12px solid white; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
.zanatia1 {
	display: block;
    width: 100%;
}
.zanatia1 ul {
	width: 100%;
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	overflow: hidden;
}
.zanatia1 li {
    float: left;
    width: 33%;
    font-size: 18px;
}
.zanatia1 a {
  border-radius: 0 0 15px 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  padding: 0.5em 0;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  font-family: Cuprum; 
}
.zanatia1 img {
	border-radius: 15px; /* Радиус скругления */
    border: 1px solid white; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
/* --------дети--------- */
#container3c {
	margin: 0 auto;
	width: 100%;	
	text-align: center;
	color: red;
}
#container3c img {
	position: relative;
}
.seahorse {
	z-index: 5;
    top: -564px;
    float: right;
}
/* --------видео--------- */
#container3 {
	margin: 0 auto;
	width: 100%;	
	text-align: center;
	color: red;
	background: url(../images/dolphin.png) no-repeat 0 65px;
}
.children {
	width: 100%;
	margin-top: -80px;
}
.video {
	margin: 0 auto;	
	display: block;
    width: 85%;
}
.video ul {
	width: 100%;
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	overflow: hidden;
}
.video li {
    float: left;
    width: 33%;
    font-size: 18px;
}
.video a {
  border-radius: 0 0 15px 15px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  padding: 0.5em 0;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  font-family: Cuprum; 
}
/* --------почему стоит пойти в нашу студию--------- */
#container4 {
	background: url(../images/romashki.png) no-repeat; /* Цвет фона и путь к файлу */
    color: #fff; /* Цвет текста */
    width: 99%;
     -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 600px;
	font-family: Cuprum;
	width: 100%;
	text-align: center;
}
div.bluebuttonmap {
  color: white;
  width: 201px;
  font-size: 18px;
  padding: 8px;
  margin: 0 auto;
	text-decoration: none;
	border-radius: 15px;
	background: #3a53cf;
	transition: 0.2s;
	margin-left: 62%;
    margin-top: 12%;
} 
div.bluebuttonmap:hover { 
	background: rgb(53, 72, 167); 
	cursor:pointer;
}
div.bluebuttonmap:active {
  background: #3a53cf;
}
div.bluebuttonmap a {
	color: white;
	text-decoration: none;
  	text-align: center;
}
/* --------контакты--------- */
#contacts {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: red;
}
/*--------футер-------- */
div#footer {
	position: relative;
	width: 100%;
	color: black;
	text-align: right;
	background-color: red;
	height: 300px;
	background: url(../images/footer.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
.footertext {
	position: absolute;
	right: 25px;
	bottom: 25px;
}
/* --------iширина экрана 1275 и меньше--------- */
@media (max-width:1275px) {
	#blogInfo li {
		font-size: 17px;
	}
	.zanatia1 {
		margin-top: -34px;
	}
}
/* --------iширина экрана 1175 и меньше--------- */
@media (max-width:1185px) {
	div.podcon2 {
	    padding-top: 210px;
	}
}
/* --------iширина экрана 1100 и меньше--------- */
@media (max-width:1100px) {
	.video li {
		width: 100%;
	}
	.zanatia.headerBlog {
		font-size: 38px;
	}
	#blogInfo {
		height: 430px
	}
	#blogInfo ul {
		padding-left: 10px;
	}
	#blogInfo li {
		font-size: 15px;
	}
	#formasvazi {
		height: 430px
	}
	#formasvazi .bigText {
    	font-size: 24px;
    }
    .zanatia1 ul {
    	width: 100%
    }
    .zanatia {
    	margin-top: -27px;
    	margin-bottom: -70px;
    }
    .video iframe {
    	width: 400px;
    	height: 250px; 
    }
    .proect .headerBlog {
    	padding-top: 11%;
	    padding-bottom: 0%;
	    padding-left: 19%;
    }
    #container3c .headerBlog {
    	padding-top: 6%;
    	padding-bottom: 5%;
    }
    #container4 {
	    margin-bottom: -50px;
	}
}
/* --------iширина экрана 1000 и меньше--------- */
@media (max-width:1000px) {
	#blogInfo {
		width: 39%;
		height: 330px;
	}
	#formasvazi {
		width: 39%;
		height: 330px;
	}
	#blogInfo li{
		font-size: 12px;
	}
	#formasvazi .bigText {
		font-size: 18px;
		padding: 4%;
	}
	#formasvazi .minitext {
	    font-size: 12px;
	    padding: 8%;
	}
	div#footer {
		height: 200px;
	}
	#makaka {
		width: 19%
	}
	#makaka img {
	    padding-left: 4px;
	    width: 99%;
	}
	.headerBlog {
		padding-top: 6%;
    	padding-bottom: 1%;
    	font-size: 43px;
	}
	div.bluebuttonmap {
		width: 165px;
    	font-size: 15px;
    	padding: 6px;
    	margin-left: 60%;
    	margin-top: 13%;
	}
	#container4 {
		margin-bottom: -100px;
	}
	#container3c .headerBlog {
    	padding-top: 0%;
    	padding-bottom: 5%;
    }
}
/* --------iширина экрана 950 и меньше--------- */
@media (max-width:950px) {
	.zanatia1 img {
	    width: 181px;
	}
	.seahorse {
		top: -365px;
	}
	#container4 {
		margin-bottom: -150px;
	}
}
/* --------iширина экрана 850 и меньше--------- */
@media (max-width:850px) {
	.zanatia img {
		border: 7px solid white;
		width: 80%;
	}
	.zanatia1 img {
		width: 65%;
	}
	.headerBlog {
		font-size: 35px;
	}
	#blogInfo li {
	    font-size: 11px;
	    background: none;
	    list-style: inherit;
	    padding-left: 0px;
	}
	#blogInfo ul {
		padding-left: 25px;
	}
	.video iframe {
		width: 80%;
		height: 80%
	}
	#container4 {
		margin-bottom: -205px;
	}
}
/* --------iширина экрана 800 и меньше--------- */
@media (max-width:800px) {
	.headerBlog {
		padding-top: 0%;
    	padding-bottom: 0%;
		font-size: 33px;
	}
	.menu a {
		font-size: 10px;
	}
	.menufixed a {
		font-size: 10px;
	}
	#blogInfo {
		width: 77%;
		height: 10%;
	}
	#blogInfo li {
		padding: 2%;
    	padding-bottom: 1px;
	}
	#blogInfo ul {
		padding-left: 28px;
    	margin-top: -2px;
	} 	    
	#makaka {
		width: 20%;
		padding-top: 23px;
    	padding-bottom: 23px;
	}
	#makaka img {
		width: 100%;
    	margin-top: -10px;
	}
	#formasvazi { 
		width: 100%;
		height: 10%;
		margin-top: 2%;
	}
	#formasvazi .bigText {
		margin-top: 0px;
		float: left;
	}
	#formasvazi ul {
		padding-top: 2%;
	}
	div#footer {
		height: 180px;
	}
	#formasvazi .minitext {
	    padding: 3%;
	}
	#formasvazi li {
    	padding: 1%;
	}
	div.bluebuttonmap {
		margin-top: 21%;
	}
	div.podcon2 {
		padding-top: 255px;
	}
	.zanatia1 {
		margin-top: -10px;
	}
	.zanatia ul {
		padding-bottom: 105px;
	}
	.children {
		margin-top: -60px;
	}
	#container4 {
		margin-bottom: -170px;
	}
	.proect .headerBlog {
		padding-top: 16%;
	    margin-bottom: 0%;
	    padding-left: 19%;
	}
}
@media (max-width:700px) {
	.headerBlog {
		font-size: 27px;
	}
	#formasvazi .minitext {
	    padding: 1%;
	}
	#container3c .headerBlog {
	    padding-top: 0%;
	    padding-bottom: 7%;
	}
	div.bluebuttonmap {
		font-size: 11px;
		width: 126px;
    	padding: 5px;
        margin-top: 22%
	}
}
/* --------iширина экрана 600 и меньше--------- */
@media (max-width:600px) {
	div#footer {
		height: 120px;
	}
	.footertext {
		right: 15px;
		bottom: 15px;
		font-size: 13px;
	}
	#contacts {
		margin-top: -200px;
	}
	.contactId {
		margin-top: -200px;
	}
}
/* --------iширина экрана 485 и меньше--------- */
@media (max-width:485px) {
	div#container {
		width: 100%;
		height: 7%;
		background-color: rgba(88,102,111,0.8);
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		font-size: 15px;	
		font-family: Cuprum;
	}
	div#footer {
		height: 90px;
	}
	.footertext {
		right: 12px;
		bottom: 12px;
		font-size: 10px;
	}
}
@media (max-width:400px){
	div#footer {
		height: 70px;
	}
	.footertext {
		right: 10px;
		bottom: 10px;
		font-size: 8px;
	}
}